
hr.modal_body_hr{
  margin-left:-15px;
  margin-right:-15px;
}

label.modal_body_file_type{
  margin-left:-24px;
}

h5.modal_body_file_type_heading{
  font-weight:bold;
  margin-top:0px;
}

p.modal_body_p_as_label{
  font-weight:bold;
}
