
.col_sm_2{
  position:relative;
  min-height:1px;
  padding-right:2px !important;
  padding-left:15px !important;
  float:left;
  width:104px !important;
}

.col_sm_4{
  position:relative;
  min-height:1px;
  padding-right:15px !important;
  padding-left:15px !important;
  float:left;
  width:156px !important;
}

.col_sm_5_5{
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
  float:left;
  width:273px;
}

.col_sm_6{
  position:relative;
  min-height:1px;
  padding-right:15px !important;
  padding-left:15px !important;
  float:left;
  width:312px !important;
}

.col_sm_8{
  position:relative;
  min-height:1px;
  padding-right:15px !important;
  padding-left:15px !important;
  float:left;
  width:416px !important;
}


label.test_data_name{
  font-size:12px;
}

div.test_data_row{
  margin-top:4px;
  height:32px;
}

div.modal_abstraction_add_test_case_data{
  margin-top:16px;
  margin-bottom:-16px;
}

div.modal_abstraction_add_test_case_data_caption{
  position:relative;
  height:36px;
  padding:6px 8px 0px 8px;
  margin-left:16px;
  margin-right:16px;
  text-align:left;
  font-size:16px;
  font-weight:bold;
  border:1.5px solid lightgray;
  border-radius:3px 3px 0px 0px;
}

p.modal_abstraction_add_test_case_data_display{
  position:relative;
  float:left;
}

p.modal_abstraction_add_test_case_data_regression_flag_yes{
  color:green;
  text-shadow:-1px 0 black, 0 1px dimgrey, 1px 0 dimgrey, 0 -1px black;
  padding-left:4px;
}

p.modal_abstraction_add_test_case_data_regression_flag_not_optimal{
  color:yellow;
  text-shadow:-1px 0 black, 0 1px dimgrey, 1px 0 dimgrey, 0 -1px black;
  padding-left:4px;
}

p.modal_abstraction_add_test_case_data_regression_flag_no{
  color:red;
  text-shadow:-1px 0 black, 0 1px dimgrey, 1px 0 dimgrey, 0 -1px black;
  padding-left:4px;
}

p.modal_abstraction_add_test_case_data_regression{
  position:relative;
  float:right;
}

div.modal_abstraction_add_test_case_data_step{
  position:relative;
  padding-top:4px;
  padding-bottom:8px;
  margin-left:16px;
  margin-right:16px;
  background-color:#f4f4f4;
  border:1.5px solid lightgray;
  border-top:0px;
  border-bottom:0px;
}

div.modal_abstraction_add_test_case_data_footer{
  position:relative;
  padding:4px 8px 4px 0px;
  margin-left:16px;
  margin-right:16px;
  height:35px;
  text-align:right;
  font-size:16px;
  font-weight:bold;
  border:1.5px solid lightgray;
  border-radius: 0px 0px 3px 3px;
}

button.modal_abstraction_add_test_case_data{
  height:21px;
  padding-top:0px;
}

div.modal_abstraction_add_test_data_heading{  
  background-color:antiquewhite;
  margin-left:15px;
  width:calc(100% - 30px);
}

div.modal_abstraction_add_test_data_heading_inner{
  text-align:right;
  margin-left:-15px;
}

div.modal_abstraction_add_test_case_step{
  position:relative;
  padding-left:8px;
  float:left;
}

div.modal_dialog_icon{
  width:30px;
  height:30px;
  margin-left:-8px;
  padding:1px;
  float:left;
  border:1.5px solid transparent;
}

div.modal_abstraction_add_abstraction_optional{
  float:left;
  padding-right:8px;
}